body {
  background-color: #ECEFF1;
  margin: 0;
}

.white * {
  color: #FAFAFA !important;
}

.black * {
  color: #212121 !important;
}

.grey, .grey * {
  color: #424242 !important;
}

.round {
  color: #90A4AE;
  border-radius: 50%;
  background-color: #CFD8DC;
  height: 212px;
}